/* Estilos para o pop-up */
.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 1000;
}

.stats-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 14px;
  width: 220px;
}
.stats-box h4 {
  margin-bottom: 6px;
  font-weight: bold;
}

